th {
    border: 3px rgb(0, 0, 0);
    text-align: left;
    text-decoration: underline;
}
.Uheader{
    margin: 100px;
    padding: 25px 50px 25px 50px;
    text-align: center;
    text-decoration: none;
}
.Uheader:hover{
    background-color: #2b6e6c;
}
td {
    padding: auto;
}
h2 {
    color: rgb(0, 0, 0);
}

#first {
    border-style: outset;
    border-color: #3A908D;
    border-width: 10px;
    background-color: #3A908D;
    display: flex;
}
section {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    margin: 10%;
}
.contendPassword {
    border-style: none;
    border-radius: 10px;
    border-width: 5px;
    background-color: rgba(162, 123, 170, 0.6);
    display: inline-table ;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: center;
    box-sizing: border-box;
    overflow: scroll;
}
th.contendPassword {
    text-align: left;
    text-decoration: underline;
}
.Continue {
    text-align: center;
}
#logo {
    position: relative;
}
#last{
    color: azure;
    background-color:#2A2A2A;
    border-style: outset;
    border-color:#2A2A2A;
    border-width: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
/* body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
} */